@import "tailwindcss/base";
@import "./base.css";

@import "tailwindcss/components";
@import "./components.css";

@import "tailwindcss/utilities";
@import "./utilities.css";

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* @layer base {
  html,
  body {
    @apply m-0 p-0 text-base font-bold antialiased;
  }

  body {
    @apply flex min-h-screen w-full flex-col items-center justify-center bg-very-dark-blue bg-stars text-white;
  }

  h1 {
    @apply flex w-full flex-grow items-end justify-center px-6 text-center text-heading uppercase;
  }

  main {
    @apply flex w-full max-w-[68.8rem] flex-grow items-start justify-center gap-x-[1.6rem] px-6;
  }

  footer {
    @apply flex overflow-hidden;
  }
  footer img {
    @apply object-cover object-center;
  }
} */

/* @layer components {
  .time-unit-container {
    @apply flex h-full w-full flex-col items-center justify-center gap-y-4;
  }
  .time-unit {
    @apply relative flex flex-col items-center justify-center rounded-[4px] bg-dark-desaturated-blue;
    @apply after:absolute after:-bottom-2 after:-z-50 after:h-8 after:w-full after:rounded-lg after:border-b-4 after:border-very-dark-mostly-black-blue after:bg-very-dark-mostly-black-blue;
  }

  .time-unit__top {
    @apply relative bg-very-dark-mostly-black-blue bg-opacity-20;
    /* @apply before:absolute before:h-1/2 before:w-full; */
/* mix-blend-mode: normal;
    border-radius: 0px 0px 4px 4px;
    transform: matrix(1, 0, 0, -1, 0, 0); 
  }

  .time-unit__value {
    @apply flex w-full px-[1.4rem] text-center font-mono text-3xl text-time font-bold text-soft-red;
    @apply before:absolute before:left-0 before:top-0 before:h-1/2 before:w-full before:rounded-tl-[4px] before:rounded-tr-[4px] before:border-b-[1px] before:border-b-black before:border-opacity-20 before:bg-black before:bg-opacity-20;

    transform: rotateX(0);
    transition: 0.6s;
    transform-style: preserve-3d;
  }

  .time-unit__value--flipped {
    animation-name: num-flip;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
  }

  .time-unit__value--flipped:after {
    transform: rotateX(0);
    transition: 0.6s;
    transform-style: preserve-3d;
  }

  .time-unit__line {
    @apply absolute;
    @apply z-50 h-[1px] w-full;
    @apply before:absolute before:-top-[3px] before:-left-[3px] before:h-[6px] before:w-[6px] before:rounded-full before:bg-very-dark-mostly-black-blue;
    @apply after:absolute after:-top-[3px] after:-right-[3px] after:h-[6px] after:w-[6px] after:rounded-full after:bg-very-dark-mostly-black-blue;
    /* @apply  before:h-1/2 before:w-full; */
/* mix-blend-mode: normal;
    border-radius: 0px 0px 4px 4px;
    transform: matrix(1, 0, 0, -1, 0, 0); 
  }

  .time-unit__label {
    @apply text-center text-unit font-bold uppercase text-grayish-blue;
  }
} */

#app {
  color: #2c3e50;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin-top: 60px;
  text-align: center;
}

@keyframes num-flip {
  0% {
    transform: rotateX(0);
    z-index: 50;
  }
  10% {
    transform: rotateX(-180deg);
    z-index: 50;
  }
  90% {
    transform: rotateX(-180deg);
    z-index: 1;
  }
  90.0001% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(0);
  }
}
